<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="3a510fb7a7e04a39860f5eb3220e09e7" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_3a510fb7a7e04a39860f5eb3220e09e7 = echarts.init(
            document.getElementById('3a510fb7a7e04a39860f5eb3220e09e7'), 'white', {renderer: 'canvas'});
        var option_3a510fb7a7e04a39860f5eb3220e09e7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "RIOPS",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2020-09-18 21:11:18",
                    0.0
                ],
                [
                    "2020-09-18 21:12:12",
                    0.0
                ],
                [
                    "2020-09-18 21:20:07",
                    0.0
                ],
                [
                    "2020-09-18 21:22:21",
                    0.0
                ],
                [
                    "2020-09-18 21:30:28",
                    0.0
                ],
                [
                    "2020-09-18 21:30:45",
                    0.0
                ],
                [
                    "2020-09-18 21:30:46",
                    0.0
                ],
                [
                    "2020-09-18 21:30:47",
                    0.0
                ],
                [
                    "2020-09-18 21:31:58",
                    0.0
                ],
                [
                    "2020-09-18 21:32:12",
                    0.0
                ],
                [
                    "2020-09-18 21:32:12",
                    0.0
                ],
                [
                    "2020-09-18 21:33:24",
                    0.0
                ],
                [
                    "2020-09-18 21:43:40",
                    0.0
                ],
                [
                    "2020-09-19 19:08:14",
                    0.0
                ],
                [
                    "2020-09-19 19:09:59",
                    0.0
                ],
                [
                    "2020-09-19 19:11:14",
                    0.0
                ],
                [
                    "2020-09-19 19:12:51",
                    0.0
                ],
                [
                    "2020-09-19 19:14:41",
                    0.0
                ],
                [
                    "2020-09-19 19:18:23",
                    0.0
                ],
                [
                    "2020-09-19 19:20:30",
                    0.0
                ],
                [
                    "2020-09-19 19:21:22",
                    0.0
                ],
                [
                    "2020-09-19 19:24:39",
                    0.0
                ],
                [
                    "2020-09-19 19:24:40",
                    0.0
                ],
                [
                    "2020-09-19 19:26:22",
                    0.0
                ],
                [
                    "2020-09-19 19:27:36",
                    0.0
                ],
                [
                    "2020-09-19 19:29:39",
                    0.0
                ],
                [
                    "2020-09-19 19:32:00",
                    0.0
                ],
                [
                    "2020-09-19 19:32:44",
                    0.0
                ],
                [
                    "2020-09-19 19:33:36",
                    0.0
                ],
                [
                    "2020-09-19 19:33:55",
                    0.0
                ],
                [
                    "2020-09-19 19:34:25",
                    0.0
                ],
                [
                    "2020-09-19 19:37:56",
                    0.0
                ],
                [
                    "2020-09-19 19:37:56",
                    0.0
                ],
                [
                    "2020-09-19 19:38:38",
                    0.0
                ],
                [
                    "2020-09-19 19:44:48",
                    0.0
                ],
                [
                    "2020-09-19 19:44:48",
                    0.0
                ],
                [
                    "2020-09-19 19:45:29",
                    0.0
                ],
                [
                    "2020-09-19 19:45:29",
                    0.0
                ],
                [
                    "2020-09-19 19:46:05",
                    0.0
                ],
                [
                    "2020-09-19 19:46:44",
                    0.0
                ],
                [
                    "2020-09-19 19:49:49",
                    0.0
                ],
                [
                    "2020-09-19 19:49:49",
                    0.0
                ],
                [
                    "2020-09-19 19:53:05",
                    0.0
                ],
                [
                    "2020-09-19 20:02:12",
                    0.0
                ],
                [
                    "2020-09-19 20:29:40",
                    0.0
                ],
                [
                    "2020-09-19 20:29:40",
                    0.0
                ],
                [
                    "2020-09-20 09:45:24",
                    0.0
                ],
                [
                    "2020-09-20 09:46:00",
                    0.0
                ],
                [
                    "2020-09-20 09:46:00",
                    0.0
                ],
                [
                    "2020-09-20 09:46:15",
                    0.0
                ],
                [
                    "2020-09-20 09:46:15",
                    0.0
                ],
                [
                    "2020-09-20 09:46:38",
                    0.0
                ],
                [
                    "2020-09-20 10:06:33",
                    0.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "WIOPS",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2020-09-18 21:11:18",
                    0.0
                ],
                [
                    "2020-09-18 21:12:12",
                    0.0
                ],
                [
                    "2020-09-18 21:20:07",
                    0.0
                ],
                [
                    "2020-09-18 21:22:21",
                    0.0
                ],
                [
                    "2020-09-18 21:30:28",
                    0.0
                ],
                [
                    "2020-09-18 21:30:45",
                    0.0
                ],
                [
                    "2020-09-18 21:30:46",
                    0.0
                ],
                [
                    "2020-09-18 21:30:47",
                    0.0
                ],
                [
                    "2020-09-18 21:31:58",
                    0.0
                ],
                [
                    "2020-09-18 21:32:12",
                    0.0
                ],
                [
                    "2020-09-18 21:32:12",
                    0.0
                ],
                [
                    "2020-09-18 21:33:24",
                    0.0
                ],
                [
                    "2020-09-18 21:43:40",
                    0.0
                ],
                [
                    "2020-09-19 19:08:14",
                    0.0
                ],
                [
                    "2020-09-19 19:09:59",
                    0.0
                ],
                [
                    "2020-09-19 19:11:14",
                    0.0
                ],
                [
                    "2020-09-19 19:12:51",
                    0.0
                ],
                [
                    "2020-09-19 19:14:41",
                    0.0
                ],
                [
                    "2020-09-19 19:18:23",
                    0.0
                ],
                [
                    "2020-09-19 19:20:30",
                    0.0
                ],
                [
                    "2020-09-19 19:21:22",
                    0.0
                ],
                [
                    "2020-09-19 19:24:39",
                    0.0
                ],
                [
                    "2020-09-19 19:24:40",
                    0.0
                ],
                [
                    "2020-09-19 19:26:22",
                    0.0
                ],
                [
                    "2020-09-19 19:27:36",
                    0.0
                ],
                [
                    "2020-09-19 19:29:39",
                    0.0
                ],
                [
                    "2020-09-19 19:32:00",
                    0.0
                ],
                [
                    "2020-09-19 19:32:44",
                    0.0
                ],
                [
                    "2020-09-19 19:33:36",
                    0.0
                ],
                [
                    "2020-09-19 19:33:55",
                    0.0
                ],
                [
                    "2020-09-19 19:34:25",
                    0.0
                ],
                [
                    "2020-09-19 19:37:56",
                    0.0
                ],
                [
                    "2020-09-19 19:37:56",
                    0.0
                ],
                [
                    "2020-09-19 19:38:38",
                    0.0
                ],
                [
                    "2020-09-19 19:44:48",
                    0.0
                ],
                [
                    "2020-09-19 19:44:48",
                    0.0
                ],
                [
                    "2020-09-19 19:45:29",
                    0.0
                ],
                [
                    "2020-09-19 19:45:29",
                    0.0
                ],
                [
                    "2020-09-19 19:46:05",
                    0.0
                ],
                [
                    "2020-09-19 19:46:44",
                    0.0
                ],
                [
                    "2020-09-19 19:49:49",
                    0.0
                ],
                [
                    "2020-09-19 19:49:49",
                    0.0
                ],
                [
                    "2020-09-19 19:53:05",
                    0.0
                ],
                [
                    "2020-09-19 20:02:12",
                    0.0
                ],
                [
                    "2020-09-19 20:29:40",
                    0.0
                ],
                [
                    "2020-09-19 20:29:40",
                    0.0
                ],
                [
                    "2020-09-20 09:45:24",
                    0.0
                ],
                [
                    "2020-09-20 09:46:00",
                    0.0
                ],
                [
                    "2020-09-20 09:46:00",
                    0.0
                ],
                [
                    "2020-09-20 09:46:15",
                    0.0
                ],
                [
                    "2020-09-20 09:46:15",
                    0.0
                ],
                [
                    "2020-09-20 09:46:38",
                    0.0
                ],
                [
                    "2020-09-20 10:06:33",
                    0.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "RIOPS",
                "WIOPS"
            ],
            "selected": {
                "RIOPS": true,
                "WIOPS": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020-09-18 21:11:18",
                "2020-09-18 21:12:12",
                "2020-09-18 21:20:07",
                "2020-09-18 21:22:21",
                "2020-09-18 21:30:28",
                "2020-09-18 21:30:45",
                "2020-09-18 21:30:46",
                "2020-09-18 21:30:47",
                "2020-09-18 21:31:58",
                "2020-09-18 21:32:12",
                "2020-09-18 21:32:12",
                "2020-09-18 21:33:24",
                "2020-09-18 21:43:40",
                "2020-09-19 19:08:14",
                "2020-09-19 19:09:59",
                "2020-09-19 19:11:14",
                "2020-09-19 19:12:51",
                "2020-09-19 19:14:41",
                "2020-09-19 19:18:23",
                "2020-09-19 19:20:30",
                "2020-09-19 19:21:22",
                "2020-09-19 19:24:39",
                "2020-09-19 19:24:40",
                "2020-09-19 19:26:22",
                "2020-09-19 19:27:36",
                "2020-09-19 19:29:39",
                "2020-09-19 19:32:00",
                "2020-09-19 19:32:44",
                "2020-09-19 19:33:36",
                "2020-09-19 19:33:55",
                "2020-09-19 19:34:25",
                "2020-09-19 19:37:56",
                "2020-09-19 19:37:56",
                "2020-09-19 19:38:38",
                "2020-09-19 19:44:48",
                "2020-09-19 19:44:48",
                "2020-09-19 19:45:29",
                "2020-09-19 19:45:29",
                "2020-09-19 19:46:05",
                "2020-09-19 19:46:44",
                "2020-09-19 19:49:49",
                "2020-09-19 19:49:49",
                "2020-09-19 19:53:05",
                "2020-09-19 20:02:12",
                "2020-09-19 20:29:40",
                "2020-09-19 20:29:40",
                "2020-09-20 09:45:24",
                "2020-09-20 09:46:00",
                "2020-09-20 09:46:00",
                "2020-09-20 09:46:15",
                "2020-09-20 09:46:15",
                "2020-09-20 09:46:38",
                "2020-09-20 10:06:33"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "elastic-1",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_3a510fb7a7e04a39860f5eb3220e09e7.setOption(option_3a510fb7a7e04a39860f5eb3220e09e7);
    </script>
</body>
</html>
