<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="26b48db3397747d5a11807bd265bf701" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_26b48db3397747d5a11807bd265bf701 = echarts.init(
            document.getElementById('26b48db3397747d5a11807bd265bf701'), 'white', {renderer: 'canvas'});
        var option_26b48db3397747d5a11807bd265bf701 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "RIOPS",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2020-09-17 20:00:00",
                    80.19
                ],
                [
                    "2020-09-18 21:11:18",
                    42.93
                ],
                [
                    "2020-09-18 21:12:13",
                    42.93
                ],
                [
                    "2020-09-18 21:22:21",
                    42.93
                ],
                [
                    "2020-09-18 21:30:28",
                    42.93
                ],
                [
                    "2020-09-18 21:30:45",
                    42.93
                ],
                [
                    "2020-09-18 21:30:46",
                    42.93
                ],
                [
                    "2020-09-18 21:30:47",
                    42.93
                ],
                [
                    "2020-09-18 21:31:58",
                    42.93
                ],
                [
                    "2020-09-18 21:32:12",
                    42.93
                ],
                [
                    "2020-09-18 21:32:12",
                    42.93
                ],
                [
                    "2020-09-18 21:33:24",
                    42.93
                ],
                [
                    "2020-09-18 21:43:40",
                    42.93
                ],
                [
                    "2020-09-19 19:08:14",
                    42.93
                ],
                [
                    "2020-09-19 19:09:59",
                    42.93
                ],
                [
                    "2020-09-19 19:11:14",
                    42.93
                ],
                [
                    "2020-09-19 19:12:51",
                    42.93
                ],
                [
                    "2020-09-19 19:14:41",
                    42.93
                ],
                [
                    "2020-09-19 19:18:23",
                    42.93
                ],
                [
                    "2020-09-19 19:20:30",
                    42.93
                ],
                [
                    "2020-09-19 19:21:22",
                    42.93
                ],
                [
                    "2020-09-19 19:24:39",
                    42.93
                ],
                [
                    "2020-09-19 19:24:40",
                    42.93
                ],
                [
                    "2020-09-19 19:26:22",
                    42.93
                ],
                [
                    "2020-09-19 19:27:36",
                    42.93
                ],
                [
                    "2020-09-19 19:29:39",
                    42.93
                ],
                [
                    "2020-09-19 19:32:00",
                    42.93
                ],
                [
                    "2020-09-19 19:32:44",
                    42.93
                ],
                [
                    "2020-09-19 19:33:37",
                    42.93
                ],
                [
                    "2020-09-19 19:33:55",
                    42.93
                ],
                [
                    "2020-09-19 19:34:25",
                    42.93
                ],
                [
                    "2020-09-19 19:37:56",
                    42.93
                ],
                [
                    "2020-09-19 19:37:56",
                    42.93
                ],
                [
                    "2020-09-19 19:38:38",
                    42.93
                ],
                [
                    "2020-09-19 19:44:48",
                    42.93
                ],
                [
                    "2020-09-19 19:44:48",
                    42.93
                ],
                [
                    "2020-09-19 19:45:29",
                    42.93
                ],
                [
                    "2020-09-19 19:45:29",
                    42.93
                ],
                [
                    "2020-09-19 19:46:05",
                    42.93
                ],
                [
                    "2020-09-19 19:46:44",
                    42.93
                ],
                [
                    "2020-09-19 19:49:49",
                    42.93
                ],
                [
                    "2020-09-19 19:49:49",
                    42.93
                ],
                [
                    "2020-09-19 19:53:05",
                    42.93
                ],
                [
                    "2020-09-19 20:02:12",
                    42.93
                ],
                [
                    "2020-09-19 20:29:40",
                    42.93
                ],
                [
                    "2020-09-19 20:29:41",
                    42.93
                ],
                [
                    "2020-09-20 09:45:24",
                    42.93
                ],
                [
                    "2020-09-20 09:46:00",
                    42.93
                ],
                [
                    "2020-09-20 09:46:00",
                    42.93
                ],
                [
                    "2020-09-20 09:46:15",
                    42.93
                ],
                [
                    "2020-09-20 09:46:15",
                    42.93
                ],
                [
                    "2020-09-20 09:46:38",
                    42.93
                ],
                [
                    "2020-09-20 10:06:33",
                    42.93
                ],
                [
                    "2020-09-20 10:11:18",
                    42.93
                ],
                [
                    "2020-09-20 10:11:18",
                    42.93
                ],
                [
                    "2020-09-20 10:13:00",
                    42.93
                ],
                [
                    "2020-09-20 10:18:12",
                    42.93
                ],
                [
                    "2020-09-20 10:18:12",
                    42.93
                ],
                [
                    "2020-09-20 10:18:30",
                    42.93
                ],
                [
                    "2020-09-20 10:18:50",
                    42.93
                ],
                [
                    "2020-09-20 10:21:06",
                    42.93
                ],
                [
                    "2020-09-20 10:22:22",
                    42.93
                ],
                [
                    "2020-09-20 10:23:39",
                    42.93
                ],
                [
                    "2020-09-20 10:27:40",
                    42.93
                ],
                [
                    "2020-09-20 10:27:41",
                    42.93
                ],
                [
                    "2020-09-20 10:28:47",
                    42.93
                ],
                [
                    "2020-09-20 10:31:47",
                    42.93
                ],
                [
                    "2020-09-20 10:32:38",
                    42.93
                ],
                [
                    "2020-09-20 10:32:55",
                    42.93
                ],
                [
                    "2020-09-20 10:35:52",
                    42.93
                ],
                [
                    "2020-09-20 10:36:46",
                    42.93
                ],
                [
                    "2020-09-20 13:02:46",
                    42.93
                ],
                [
                    "2020-09-20 13:02:47",
                    42.93
                ],
                [
                    "2020-09-20 13:02:53",
                    42.93
                ],
                [
                    "2020-09-20 13:03:57",
                    42.93
                ],
                [
                    "2020-09-20 13:05:14",
                    42.93
                ],
                [
                    "2020-09-20 13:06:49",
                    42.93
                ],
                [
                    "2020-09-20 13:26:44",
                    42.93
                ],
                [
                    "2020-09-20 13:26:44",
                    42.93
                ],
                [
                    "2020-09-20 13:27:20",
                    42.93
                ],
                [
                    "2020-09-20 13:27:21",
                    42.93
                ],
                [
                    "2020-09-20 13:27:58",
                    42.93
                ],
                [
                    "2020-09-20 13:28:16",
                    42.93
                ],
                [
                    "2020-09-20 13:33:49",
                    42.93
                ],
                [
                    "2020-09-20 13:33:49",
                    42.93
                ],
                [
                    "2020-09-20 13:34:32",
                    42.93
                ],
                [
                    "2020-09-20 13:34:33",
                    42.93
                ],
                [
                    "2020-09-20 13:46:52",
                    42.93
                ],
                [
                    "2020-09-20 13:46:53",
                    42.93
                ],
                [
                    "2020-09-20 13:56:19",
                    42.93
                ],
                [
                    "2020-09-20 13:56:19",
                    42.93
                ],
                [
                    "2020-09-20 14:03:14",
                    42.93
                ],
                [
                    "2020-09-20 14:03:18",
                    42.93
                ],
                [
                    "2020-09-20 14:03:18",
                    42.93
                ],
                [
                    "2020-09-20 14:10:14",
                    42.93
                ],
                [
                    "2020-09-20 14:10:14",
                    42.93
                ],
                [
                    "2020-09-20 14:12:12",
                    42.93
                ],
                [
                    "2020-09-20 14:12:12",
                    42.93
                ],
                [
                    "2020-09-20 14:14:19",
                    42.93
                ],
                [
                    "2020-09-20 14:14:49",
                    42.93
                ],
                [
                    "2020-09-20 14:16:57",
                    42.93
                ],
                [
                    "2020-09-20 14:16:57",
                    42.93
                ],
                [
                    "2020-09-20 14:19:44",
                    42.93
                ],
                [
                    "2020-09-20 14:19:45",
                    42.93
                ],
                [
                    "2020-09-20 14:36:00",
                    42.93
                ],
                [
                    "2020-09-20 14:36:01",
                    42.93
                ],
                [
                    "2020-09-20 14:37:26",
                    42.93
                ],
                [
                    "2020-09-20 14:37:26",
                    42.93
                ],
                [
                    "2020-09-20 14:45:59",
                    42.93
                ],
                [
                    "2020-09-20 14:45:59",
                    42.93
                ],
                [
                    "2020-09-20 14:47:58",
                    42.93
                ],
                [
                    "2020-09-20 14:47:58",
                    42.93
                ],
                [
                    "2020-09-20 14:52:40",
                    42.93
                ],
                [
                    "2020-09-20 14:52:40",
                    42.93
                ],
                [
                    "2020-09-20 14:56:00",
                    42.93
                ],
                [
                    "2020-09-20 14:56:00",
                    42.93
                ],
                [
                    "2020-09-20 14:56:33",
                    42.93
                ],
                [
                    "2020-09-20 14:56:33",
                    42.93
                ],
                [
                    "2020-09-20 16:11:38",
                    42.93
                ],
                [
                    "2020-09-20 16:11:39",
                    42.93
                ],
                [
                    "2020-09-20 16:14:45",
                    42.93
                ],
                [
                    "2020-09-20 16:14:45",
                    42.93
                ],
                [
                    "2020-09-20 16:14:46",
                    42.93
                ],
                [
                    "2020-09-20 16:28:50",
                    42.93
                ],
                [
                    "2020-09-20 16:28:51",
                    42.93
                ],
                [
                    "2020-09-20 16:31:56",
                    42.93
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "WIOPS",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2020-09-17 20:00:00",
                    32.9
                ],
                [
                    "2020-09-18 21:11:18",
                    27.62
                ],
                [
                    "2020-09-18 21:12:13",
                    27.62
                ],
                [
                    "2020-09-18 21:22:21",
                    27.62
                ],
                [
                    "2020-09-18 21:30:28",
                    27.62
                ],
                [
                    "2020-09-18 21:30:45",
                    27.62
                ],
                [
                    "2020-09-18 21:30:46",
                    27.62
                ],
                [
                    "2020-09-18 21:30:47",
                    27.62
                ],
                [
                    "2020-09-18 21:31:58",
                    67.62
                ],
                [
                    "2020-09-18 21:32:12",
                    47.62
                ],
                [
                    "2020-09-18 21:32:12",
                    47.62
                ],
                [
                    "2020-09-18 21:33:24",
                    47.62
                ],
                [
                    "2020-09-18 21:43:40",
                    47.62
                ],
                [
                    "2020-09-19 19:08:14",
                    47.62
                ],
                [
                    "2020-09-19 19:09:59",
                    47.62
                ],
                [
                    "2020-09-19 19:11:14",
                    47.62
                ],
                [
                    "2020-09-19 19:12:51",
                    47.62
                ],
                [
                    "2020-09-19 19:14:41",
                    47.62
                ],
                [
                    "2020-09-19 19:18:23",
                    47.62
                ],
                [
                    "2020-09-19 19:20:30",
                    47.62
                ],
                [
                    "2020-09-19 19:21:22",
                    47.62
                ],
                [
                    "2020-09-19 19:24:39",
                    47.62
                ],
                [
                    "2020-09-19 19:24:40",
                    47.62
                ],
                [
                    "2020-09-19 19:26:22",
                    47.62
                ],
                [
                    "2020-09-19 19:27:36",
                    47.62
                ],
                [
                    "2020-09-19 19:29:39",
                    47.62
                ],
                [
                    "2020-09-19 19:32:00",
                    47.62
                ],
                [
                    "2020-09-19 19:32:44",
                    47.62
                ],
                [
                    "2020-09-19 19:33:37",
                    47.62
                ],
                [
                    "2020-09-19 19:33:55",
                    47.62
                ],
                [
                    "2020-09-19 19:34:25",
                    47.62
                ],
                [
                    "2020-09-19 19:37:56",
                    47.62
                ],
                [
                    "2020-09-19 19:37:56",
                    47.62
                ],
                [
                    "2020-09-19 19:38:38",
                    47.62
                ],
                [
                    "2020-09-19 19:44:48",
                    47.62
                ],
                [
                    "2020-09-19 19:44:48",
                    47.62
                ],
                [
                    "2020-09-19 19:45:29",
                    47.62
                ],
                [
                    "2020-09-19 19:45:29",
                    47.62
                ],
                [
                    "2020-09-19 19:46:05",
                    47.62
                ],
                [
                    "2020-09-19 19:46:44",
                    47.62
                ],
                [
                    "2020-09-19 19:49:49",
                    47.62
                ],
                [
                    "2020-09-19 19:49:49",
                    47.62
                ],
                [
                    "2020-09-19 19:53:05",
                    47.62
                ],
                [
                    "2020-09-19 20:02:12",
                    47.62
                ],
                [
                    "2020-09-19 20:29:40",
                    47.62
                ],
                [
                    "2020-09-19 20:29:41",
                    47.62
                ],
                [
                    "2020-09-20 09:45:24",
                    47.62
                ],
                [
                    "2020-09-20 09:46:00",
                    47.62
                ],
                [
                    "2020-09-20 09:46:00",
                    47.62
                ],
                [
                    "2020-09-20 09:46:15",
                    47.62
                ],
                [
                    "2020-09-20 09:46:15",
                    47.62
                ],
                [
                    "2020-09-20 09:46:38",
                    47.62
                ],
                [
                    "2020-09-20 10:06:33",
                    47.62
                ],
                [
                    "2020-09-20 10:11:18",
                    47.62
                ],
                [
                    "2020-09-20 10:11:18",
                    47.62
                ],
                [
                    "2020-09-20 10:13:00",
                    47.62
                ],
                [
                    "2020-09-20 10:18:12",
                    47.62
                ],
                [
                    "2020-09-20 10:18:12",
                    47.62
                ],
                [
                    "2020-09-20 10:18:30",
                    47.62
                ],
                [
                    "2020-09-20 10:18:50",
                    47.62
                ],
                [
                    "2020-09-20 10:21:06",
                    47.62
                ],
                [
                    "2020-09-20 10:22:22",
                    47.62
                ],
                [
                    "2020-09-20 10:23:39",
                    47.62
                ],
                [
                    "2020-09-20 10:27:40",
                    47.62
                ],
                [
                    "2020-09-20 10:27:41",
                    47.62
                ],
                [
                    "2020-09-20 10:28:47",
                    47.62
                ],
                [
                    "2020-09-20 10:31:47",
                    47.62
                ],
                [
                    "2020-09-20 10:32:38",
                    47.62
                ],
                [
                    "2020-09-20 10:32:55",
                    47.62
                ],
                [
                    "2020-09-20 10:35:52",
                    47.62
                ],
                [
                    "2020-09-20 10:36:46",
                    47.62
                ],
                [
                    "2020-09-20 13:02:46",
                    47.62
                ],
                [
                    "2020-09-20 13:02:47",
                    47.62
                ],
                [
                    "2020-09-20 13:02:53",
                    47.62
                ],
                [
                    "2020-09-20 13:03:57",
                    47.62
                ],
                [
                    "2020-09-20 13:05:14",
                    47.62
                ],
                [
                    "2020-09-20 13:06:49",
                    47.62
                ],
                [
                    "2020-09-20 13:26:44",
                    47.62
                ],
                [
                    "2020-09-20 13:26:44",
                    47.62
                ],
                [
                    "2020-09-20 13:27:20",
                    47.62
                ],
                [
                    "2020-09-20 13:27:21",
                    47.62
                ],
                [
                    "2020-09-20 13:27:58",
                    47.62
                ],
                [
                    "2020-09-20 13:28:16",
                    47.62
                ],
                [
                    "2020-09-20 13:33:49",
                    47.62
                ],
                [
                    "2020-09-20 13:33:49",
                    47.62
                ],
                [
                    "2020-09-20 13:34:32",
                    47.62
                ],
                [
                    "2020-09-20 13:34:33",
                    47.62
                ],
                [
                    "2020-09-20 13:46:52",
                    47.62
                ],
                [
                    "2020-09-20 13:46:53",
                    47.62
                ],
                [
                    "2020-09-20 13:56:19",
                    47.62
                ],
                [
                    "2020-09-20 13:56:19",
                    47.62
                ],
                [
                    "2020-09-20 14:03:14",
                    47.62
                ],
                [
                    "2020-09-20 14:03:18",
                    47.62
                ],
                [
                    "2020-09-20 14:03:18",
                    47.62
                ],
                [
                    "2020-09-20 14:10:14",
                    47.62
                ],
                [
                    "2020-09-20 14:10:14",
                    47.62
                ],
                [
                    "2020-09-20 14:12:12",
                    47.62
                ],
                [
                    "2020-09-20 14:12:12",
                    47.62
                ],
                [
                    "2020-09-20 14:14:19",
                    47.62
                ],
                [
                    "2020-09-20 14:14:49",
                    47.62
                ],
                [
                    "2020-09-20 14:16:57",
                    47.62
                ],
                [
                    "2020-09-20 14:16:57",
                    47.62
                ],
                [
                    "2020-09-20 14:19:44",
                    47.62
                ],
                [
                    "2020-09-20 14:19:45",
                    47.62
                ],
                [
                    "2020-09-20 14:36:00",
                    47.62
                ],
                [
                    "2020-09-20 14:36:01",
                    47.62
                ],
                [
                    "2020-09-20 14:37:26",
                    47.62
                ],
                [
                    "2020-09-20 14:37:26",
                    47.62
                ],
                [
                    "2020-09-20 14:45:59",
                    47.62
                ],
                [
                    "2020-09-20 14:45:59",
                    47.62
                ],
                [
                    "2020-09-20 14:47:58",
                    47.62
                ],
                [
                    "2020-09-20 14:47:58",
                    47.62
                ],
                [
                    "2020-09-20 14:52:40",
                    47.62
                ],
                [
                    "2020-09-20 14:52:40",
                    47.62
                ],
                [
                    "2020-09-20 14:56:00",
                    47.62
                ],
                [
                    "2020-09-20 14:56:00",
                    47.62
                ],
                [
                    "2020-09-20 14:56:33",
                    47.62
                ],
                [
                    "2020-09-20 14:56:33",
                    47.62
                ],
                [
                    "2020-09-20 16:11:38",
                    47.62
                ],
                [
                    "2020-09-20 16:11:39",
                    47.62
                ],
                [
                    "2020-09-20 16:14:45",
                    47.62
                ],
                [
                    "2020-09-20 16:14:45",
                    47.62
                ],
                [
                    "2020-09-20 16:14:46",
                    47.62
                ],
                [
                    "2020-09-20 16:28:50",
                    47.62
                ],
                [
                    "2020-09-20 16:28:51",
                    47.62
                ],
                [
                    "2020-09-20 16:31:56",
                    47.62
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "RIOPS",
                "WIOPS"
            ],
            "selected": {
                "RIOPS": true,
                "WIOPS": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020-09-17 20:00:00",
                "2020-09-18 21:11:18",
                "2020-09-18 21:12:13",
                "2020-09-18 21:22:21",
                "2020-09-18 21:30:28",
                "2020-09-18 21:30:45",
                "2020-09-18 21:30:46",
                "2020-09-18 21:30:47",
                "2020-09-18 21:31:58",
                "2020-09-18 21:32:12",
                "2020-09-18 21:32:12",
                "2020-09-18 21:33:24",
                "2020-09-18 21:43:40",
                "2020-09-19 19:08:14",
                "2020-09-19 19:09:59",
                "2020-09-19 19:11:14",
                "2020-09-19 19:12:51",
                "2020-09-19 19:14:41",
                "2020-09-19 19:18:23",
                "2020-09-19 19:20:30",
                "2020-09-19 19:21:22",
                "2020-09-19 19:24:39",
                "2020-09-19 19:24:40",
                "2020-09-19 19:26:22",
                "2020-09-19 19:27:36",
                "2020-09-19 19:29:39",
                "2020-09-19 19:32:00",
                "2020-09-19 19:32:44",
                "2020-09-19 19:33:37",
                "2020-09-19 19:33:55",
                "2020-09-19 19:34:25",
                "2020-09-19 19:37:56",
                "2020-09-19 19:37:56",
                "2020-09-19 19:38:38",
                "2020-09-19 19:44:48",
                "2020-09-19 19:44:48",
                "2020-09-19 19:45:29",
                "2020-09-19 19:45:29",
                "2020-09-19 19:46:05",
                "2020-09-19 19:46:44",
                "2020-09-19 19:49:49",
                "2020-09-19 19:49:49",
                "2020-09-19 19:53:05",
                "2020-09-19 20:02:12",
                "2020-09-19 20:29:40",
                "2020-09-19 20:29:41",
                "2020-09-20 09:45:24",
                "2020-09-20 09:46:00",
                "2020-09-20 09:46:00",
                "2020-09-20 09:46:15",
                "2020-09-20 09:46:15",
                "2020-09-20 09:46:38",
                "2020-09-20 10:06:33",
                "2020-09-20 10:11:18",
                "2020-09-20 10:11:18",
                "2020-09-20 10:13:00",
                "2020-09-20 10:18:12",
                "2020-09-20 10:18:12",
                "2020-09-20 10:18:30",
                "2020-09-20 10:18:50",
                "2020-09-20 10:21:06",
                "2020-09-20 10:22:22",
                "2020-09-20 10:23:39",
                "2020-09-20 10:27:40",
                "2020-09-20 10:27:41",
                "2020-09-20 10:28:47",
                "2020-09-20 10:31:47",
                "2020-09-20 10:32:38",
                "2020-09-20 10:32:55",
                "2020-09-20 10:35:52",
                "2020-09-20 10:36:46",
                "2020-09-20 13:02:46",
                "2020-09-20 13:02:47",
                "2020-09-20 13:02:53",
                "2020-09-20 13:03:57",
                "2020-09-20 13:05:14",
                "2020-09-20 13:06:49",
                "2020-09-20 13:26:44",
                "2020-09-20 13:26:44",
                "2020-09-20 13:27:20",
                "2020-09-20 13:27:21",
                "2020-09-20 13:27:58",
                "2020-09-20 13:28:16",
                "2020-09-20 13:33:49",
                "2020-09-20 13:33:49",
                "2020-09-20 13:34:32",
                "2020-09-20 13:34:33",
                "2020-09-20 13:46:52",
                "2020-09-20 13:46:53",
                "2020-09-20 13:56:19",
                "2020-09-20 13:56:19",
                "2020-09-20 14:03:14",
                "2020-09-20 14:03:18",
                "2020-09-20 14:03:18",
                "2020-09-20 14:10:14",
                "2020-09-20 14:10:14",
                "2020-09-20 14:12:12",
                "2020-09-20 14:12:12",
                "2020-09-20 14:14:19",
                "2020-09-20 14:14:49",
                "2020-09-20 14:16:57",
                "2020-09-20 14:16:57",
                "2020-09-20 14:19:44",
                "2020-09-20 14:19:45",
                "2020-09-20 14:36:00",
                "2020-09-20 14:36:01",
                "2020-09-20 14:37:26",
                "2020-09-20 14:37:26",
                "2020-09-20 14:45:59",
                "2020-09-20 14:45:59",
                "2020-09-20 14:47:58",
                "2020-09-20 14:47:58",
                "2020-09-20 14:52:40",
                "2020-09-20 14:52:40",
                "2020-09-20 14:56:00",
                "2020-09-20 14:56:00",
                "2020-09-20 14:56:33",
                "2020-09-20 14:56:33",
                "2020-09-20 16:11:38",
                "2020-09-20 16:11:39",
                "2020-09-20 16:14:45",
                "2020-09-20 16:14:45",
                "2020-09-20 16:14:46",
                "2020-09-20 16:28:50",
                "2020-09-20 16:28:51",
                "2020-09-20 16:31:56"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "k8s-node2",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_26b48db3397747d5a11807bd265bf701.setOption(option_26b48db3397747d5a11807bd265bf701);
    </script>
</body>
</html>
