{% extends "base.html" %}

{#{% block title %}Ansible CMDB{% endblock %}#}
{% block scripts %}
{{ super() }}
    <script>
        {#$('#bootstrap-table').bootstrapTable('destroy');#}
            var $table = $('#showTable');
            $table.bootstrapTable({
                    method: 'GET',                      //请求方式（*）
                    url: "{{ url_for('static',filename='data/data.json') }}",
                    dataType: 'json',
                    dataField: "data",
                    {#striped: true,                      //是否显示行间隔色#}
                    {#cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）#}
                    pagination: true,                   //是否显示分页（*）
                    sortable: true,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    pagination: true,//分页
                    paginationPreText: '上一页',
                    paginationNextText: '下一页',
                    {#sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）#}
                    {#pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录#}
                    {#pageSize: rows,                     //每页的记录行数（*）#}
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    search: true,                      //是否显示表格搜索
                    {#strictSearch: true,#}
                    {#showColumns: true,                  //是否显示所有的列（选择显示的列）#}
                    {#showRefresh: true,                  //是否显示刷新按钮#}
                    {#responseHandler: responseHandler,//接受后台传过来的值进行绑定处理的函数#}
                    {#minimumCountColumns: 2,             //最少允许的列数#}
                    {#clickToSelect: true,                //是否启用点击选中行#}
                    {#//height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度#}
                    {#uniqueId: "ID",                     //每一行的唯一标识，一般为主键列#}
                    {#showToggle: true,                   //是否显示详细视图和列表视图的切换按钮#}
                    {#cardView: false,                    //是否显示详细视图#}
                    {#detailView: false,                  //是否显示父子表#}
                    columns:
                        [{
                            //field: 'Number',//可不加
                            title: 'Index',//标题  可不加
                            align: 'center',
                            formatter: function (value, row, index) {
                                return index + 1;
                            }
                        },
                            {
                                title: 'HostName',
                                field: 'host',
                                align: 'center',
                                valign: "middle"
                            },
                            {
                                title: 'IPv4',
                                field: 'ip',
                                align: 'left',
                                valign: "middle"
                            },
                            {
                                title: 'Machine',
                                field: 'machine',
                                align: 'left',
                                valign: "middle"
                            },
                            {
                                title: 'Product',
                                field: 'product',
                                align: 'left',
                                valign: "middle"
                            },
                            {
                                title: 'OS',
                                field: 'os',
                                align: 'left',
                                valign: "middle"
                            },
                            {
                                title: 'Kernel',
                                field: 'kernel',
                                align: 'left',
                                valign: "middle"
                            },
                            {
                                title: 'MemUsage',
                                field: 'memusage',
                                align: 'left',
                                valign: "middle"
                            },
                            {
                                title: 'DiskUsage',
                                field: 'diskusage',
                                align: 'left',
                                valign: "middle"
                            },

                        ]
                }
            );

            function responseHandler(res) {
                return {
                    "data": res.data,
                }
            }

    </script>
{% endblock %}

{% block page_content %}
{#    <div class="page-header">#}
{#        <h3 align="center">虚拟机配置信息</h3>#}
{#    </div>#}

		<table  id="showTable"
                data-toggle="table"
                class="table table-hover table-striped"
{#                data-url="{{ url_for('static',filename='data/data.json') }}"#}
			    data-search="true"
			    data-pagination="true"
				data-click-to-select="true"
				data-show-refresh="true"
				data-show-toggle="true"
				data-show-columns="true"
				data-halign="center"
			    data-sorting ="true">
        </table>

    <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>

{% endblock %}