{% extends "base-v2.html" %}

{% block scripts %}
{{ super() }}
    <script>
            var $table = $('#showTable');
            $table.bootstrapTable({
                    method: 'GET',                      //请求方式（*）
                    url: "/realdata",
                    dataType: 'json',
                    dataField: "rows",
                    totalField: "total",
                    {#striped: true,                      //是否显示行间隔色#}
                    {#cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）#}
                    pagination: true,                   //是否显示分页（*）
                    {#sortable: true,                     //是否启用排序#}
                    {#sortOrder: "desc",                   //排序方式#}
                    {#sortName: 'cpusage',#}
                    pagination: true,//分页
                    paginationPreText: '上一页',
                    paginationNextText: '下一页',
                    {#sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）#}
                    {#pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录#}
                    {#pageSize: rows,                     //每页的记录行数（*）#}
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    search: true,                       //是否显示表格搜索
                    showExport: true,
                    exportTypes:['excel','csv'],                  //导出文件类型
                    exportDataType: "basic",              //basic', 'all', 'selected'.
                    buttonsAlign:"right",  //按钮位置
                    exportOptions:{
                        //ignoreColumn: [0,0],            //忽略某一列的索引
                        fileName: 'ansible虚拟机',              //文件名称设置
                        worksheetName: 'ansible虚拟机',          //表格工作区名称
                        tableName: 'ansible虚拟机',
                        excelstyles: ['background-color', 'color', 'font-size', 'font-weight'],
                        //onMsoNumberFormat: DoOnMsoNumberFormat
                    },
                    {#strictSearch: true,#}
                    {#showColumns: true,                  //是否显示所有的列（选择显示的列）#}
                    {#showRefresh: true,                  //是否显示刷新按钮#}
                    {#responseHandler: responseHandler,//接受后台传过来的值进行绑定处理的函数#}
                    {#minimumCountColumns: 2,             //最少允许的列数#}
                    {#clickToSelect: true,                //是否启用点击选中行#}
                    {#//height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度#}
                    {#uniqueId: "ID",                     //每一行的唯一标识，一般为主键列#}
                    {#showToggle: true,                   //是否显示详细视图和列表视图的切换按钮#}
                    {#cardView: false,                    //是否显示详细视图#}
                    {#detailView: false,                  //是否显示父子表#}
                    columns:
                        [{
                            //field: 'Number',//可不加
                            title: 'Index',//标题  可不加
                            align: 'center',
                            formatter: function (value, row, index) {
                                return index + 1;
                            }
                        },
                            {
                                title: 'HostName',
                                field: 'host',
                                align: 'center',
                                valign: "middle",
                                formatter: function(value, row, index) {
                                    console.log(value)
                                    return [
					                            '<a data-toggle="modal" data-target="#myModal" href="/static/graph/'+ value +'.html">'+ value +'</a>'
					                            {#'<a href="/'+value+'" >'+value+'</a>'#}
				                            ]
                                }
                            },
                            {
                                title: 'IPv4',
                                field: 'ip',
                                align: 'left',
                                valign: "middle"
                            },

                            {
                                title: 'Mem(%)',
                                field: 'memusage',
                                align: 'left',
                                valign: "middle",
                                sortable: true,
                                 formatter: function (value,row,index) {
                                    var res = value * 1
                                    if (value != null) {
                                        return "<div class='progress'><div class='progress-bar progress-bar-info' role='progressbar' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100' style='width:"+res+"%'>"+ res +" </div></div>"
                                    }
                                }
                            },
                            {
                                title: 'Disk(%)',
                                field: 'diskusage',
                                align: 'left',
                                valign: "middle",
                                sortable: true
                            },
                            {
                                title: 'Cpu(%)',
                                field: 'cpusage',
                                align: 'left',
                                valign: "middle",
                                sortable: true,
                                formatter: function (value,row,index) {
                                    var res = value * 1
                                    if (value != null) {
                                        return "<div class='progress'><div class='progress-bar progress-bar-info' role='progressbar' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100' style='width:"+res+"%'>"+ res +" </div></div>"
                                    }
                                }
                            },
                            {
                                title: 'CPU1',
                                field: 'cpu1',
                                align: 'left',
                                valign: "middle",
                                sortable: true
                            },

                            {#{#}
                            {#    title: 'CPU5',#}
                            {#    field: 'cpu5',#}
                            {#    align: 'left',#}
                            {#    valign: "middle",#}
                            {#    sortable: true#}
                            {#,#}
                            {#{#}
                            {#    title: 'CPU15',#}
                            {#    field: 'cpu15',#}
                            {#    align: 'left',#}
                            {#    valign: "middle"#}
                            {
                                title: 'rIOPS',
                                field: 'riops',
                                align: 'left',
                                valign: "middle",
                                sortable: true
                            },
                            {
                                title: 'wIOPS',
                                field: 'wiops',
                                align: 'left',
                                valign: "middle",
                                sortable: true
                            },
                            {
                                title: 'TrIOPS',
                                field: 'triops',
                                align: 'left',
                                valign: "middle",
                                sortable: true
                            },
                            {
                                title: 'TwIOPS',
                                field: 'twiops',
                                align: 'left',
                                valign: "middle",
                                sortable: true
                            },{
                                title: 'LrIOPS',
                                field: 'lriops',
                                align: 'left',
                                valign: "middle",
                                sortable: true
                            },{
                                title: 'LwIOPS',
                                field: 'lwiops',
                                align: 'left',
                                valign: "middle",
                                sortable: true
                            },
                            {
                                title: 'IOwait',
                                field: 'iowait',
                                align: 'left',
                                valign: "middle",
                                sortable: true
                            },
                        ],
                }
            );
            $table.bootstrapTable('refresh', {url: '/realdata'});

            var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'IOPS'
            },
            tooltip: {},
            legend: {
                data:['WIOPS','RIOPS']
            },
            xAxis: {
                data: []
            },
            yAxis: {},
            series: [{
                name: 'WIOPS',
                type: 'line',
                data: []
            },{
                name: 'RIOPS',
                type: 'line',
                data: []
            }
            ]
        };

        {#移除数据，让对话框能够在每次打开时重新加载页面#}
        $("#myModal").on("hidden.bs.modal", function() {
            $(this).removeData("bs.modal");
        });

        // 使用刚指定的配置项和数据显示图表。
        {#myChart.setOption(option);#}
        {#var date = [];    //类别数组（实际用来盛放X轴坐标值）#}
        {#var wiops = [];#}
        {#var riops = [];#}
        {#$.ajax({#}
        {#    type: 'get',#}
            {#url: '/static/data/graph.json',//请求数据的地址#}
        {#    url: '/k8s-node2',//请求数据的地址#}
        {#    dataType: "json",#}
        {#    success: function (result) {#}
        {#    //请求成功时执行该函数内容，result即为服务器返回的json对象#}
        {#            json_data=JSON.parse(result)#}
        {#            console.info(json_data['k8s-node2'])#}
                    {#console.info(json_data['value'])#}
        {#    $.each(result, function (index, item) {#}
        {#        date.push(item.date);    //挨个取出类别并填入类别数组#}
        {#        wiops.push(item.WIOPS);#}
        {#        riops.push(item.RIOPS);#}
        {#    });#}
    {#        myChart.hideLoading();    //隐藏加载动画#}
    {#        myChart.setOption({        //加载数据图表#}
    {#            xAxis: {#}
    {#                data: date#}
    {#            },#}
    {#            series: [{#}
    {#                data: wiops#}
    {#            },#}
    {#            {#}
    {#                data: riops#}
    {#            }]#}
    {#        });#}
    {#    }#}
    {# });#}

    </script>
    <style>
    .modal-dialog {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        }

    .modal-content {
        overflow-y: scroll;
        position: absolute;
        top: 0;
        bottom: 0;
        }
    </style>
{% endblock %}

{% block page_content %}

		<table  id="showTable"
                data-toggle="table"
                class="table table-hover table-striped"
			    data-search="true"
			    data-pagination="true"
				data-click-to-select="true"
				data-show-refresh="true"
				data-show-toggle="true"
				data-show-columns="true"
				data-halign="center"
			    data-sorting ="true">
        </table>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">IOPS</h4>
                    </div>
                    <div class="modal-body">
                        <div id="main">    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
<!-- /.modal -->
{% endblock %}